body {
	font-family: 'Roboto', sans-serif;
	min-width: 320px;
}

.row {
	margin: 0 -10px;
}

[class^="col-"] {
	padding: 0 10px;
}

a, a:hover {
	color: #b90200;
}

.container {
	max-width: 940px;
}

.noOverflow {
	overflow: hidden;
}

*:focus {
	outline: none;
}

#logo {
	display: inline-block;
	margin-top: -38px;
}

#logo img {
	max-width: 80%;
}

@media(max-width: 992px) {
	#logo {
		margin-top: 0;
	}
}


.picture {
	display: block;
	border-bottom: 3px solid #ba0201;
}

.picture img {
	width: 100%;
}

.box {
	position: relative;
	overflow: hidden;
	background-color: white;
	line-height: 0;
	min-height: 280px;
	margin-bottom: 30px;
}


.mb30 { margin-bottom: 30px !important; }


/* ---
- .paginacao
--- */
.paginacao {
	text-align: center;
	line-height: 0;
}

.paginacao .content {
	display: inline-block;
}

.paginacao a {
	font-size: 19px;
	display: inline-block;
	line-height: 1;
	padding: 5px 7px;
	text-decoration: none;
	float: left;
	color: #999999;
	font-weight: 700;
}

.paginacao a:hover,
.paginacao a.current {
	color: #b90200;
}


/* ---
- .botao
--- */
.botao {
	background-color: #b90200;
	color: white;
	display: inline-block;
	line-height: 1;
	padding: 10px 15px;
	border: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;

	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;

	box-shadow: inset 0 2px 1px #810303;
	-webkit-box-shadow: inset 0 2px 1px #810303;
	-moz-box-shadow: inset 0 2px 1px #810303;
	-o-box-shadow: inset 0 2px 1px #810303;
}


/* ---
- #menu
--- */
#menu {
	position: relative;
	z-index: 1;
	text-align: right;
	line-height: 0;
}

#menu > ul {
	padding: 0;
	margin: 0;
	line-height: 1;
	list-style: none;
	display: inline-block;
}

#menu > ul > li {
	display: inline-block;
	position: relative;
	float: left;
}

#menu > ul > li > a {
	display: block;
	padding: 12px 20px;
	color: white;
}

#menu > ul > li:hover > a {
	background-color: rgba(0, 0, 0, 0.05);
	text-decoration: none;

	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.10);
	-o-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.10);
}

#menu > ul > li:hover > ul {
	display: block;
}

#menu > ul > li > ul {
	background-color: #b90200;
	position: absolute;
	padding: 0;
	margin: 0;
	list-style: none;
	padding: 5px;
	display: none;

	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}

#menu > ul > li > ul:before {
	content: "";
	display: inline-block;
	border-left: 7px solid transparent;
	border-bottom: 7px solid #b90200;
	border-right: 7px solid transparent;
	position: absolute;
	top: -7px;
	left: 10px;
}

#menu > ul > li > ul > li > a {
	display: block;
	padding: 5px 10px;
	color: white;
}

#menu > ul > li > ul > li > a:hover {
    background-color: rgba(0, 0, 0, 0.10);
    text-decoration: none;

    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.10);
	-o-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.10);
}

#menu .social {
	display: inline-block;
}


/* ---
- #menuMobile
--- */
#menuMobile {
	background-color: rgba(128, 128, 128, 0.98);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;

	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);

	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

#menuMobile.ativo {
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-o-transform: translateX(0%);
}

#menuMobile > ul {
	max-width: 320px;
	margin: 0 auto;
	padding: 100px 0;
	list-style: none;
	line-height: 1;
	text-align: center;
	font-size: 19px;
	font-weight: 300;
}

#menuMobile > ul > li {
}

#menuMobile > ul > li:last-child {
	border: none;
}

#menuMobile > ul > li > a {
	color: white;
	display: block;
	padding: 15px;
}

#menuMobile > ul > li > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menuMobile > ul > li > ul > li > a {
	background: rgba(0, 0, 0, 0.05);
	display: block;
	padding: 15px;
	font-size: 16px;
}


/* ---
- #newsletter
--- */
#newsletter {
	padding: 30px 15px;
	text-align: center;
}

#newsletter h1 {
	font-size: 19px;
	margin: 0 0 15px;
	text-transform: uppercase;
	max-width: 150px;
	display: inline-block;
}

#newsletter h2 {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
}

#newsletter input[type="email"] {
	line-height: initial;
	padding: 10px;
	margin: 15px 0;
	display: block;
	width: 100%;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	border: 1px solid #cccccc;
}


/* ---
- .titulo
--- */
.titulo {
	margin: 0 0 20px;
	line-height: 1;
	text-transform: uppercase;
	font-size: 15px;
	color: #ba0201;
	position: relative;
	font-weight: 400;
}

.titulo:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	display: block;
	background-color: #ba0201;
	top: 50%;
	margin-top: -0.5px;
}

.titulo span {
	background-color: white;
	z-index: 1;
	position: relative;
	padding-right: 10px;
	display: inline-block;
}


.subtitulo {
	margin: 0;
	font-size: 16px;
}

.tpage {
	margin: -30px 0 30px;
	line-height: 1;
	background-color: #D20200;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 32px;
}

/* ---
- #topo
--- */
#topo {
	background-image: url(../images/topo.png);
	background-color: #737373;
	border-bottom: 3px solid #b90200;
	margin-bottom: 30px;
	padding: 15px 0 0;
}

#topo .content {
	position: relative;
}

#toggle {
	background-color: rgba(0, 0, 0, 0.45);
	border: none;
	font-size: 21px;
	padding: 8px 10px 5px;
	line-height: 1;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	color: white;
	position: absolute;
	right: 0;
	top: 15px;
	z-index: 10;

	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
}

#toggle.ativo {
	background-color: #b90200;
}


#topo .row {
	margin: 0;
}

#topo [class^="col-"] {
	padding: 0;
}

.propaganda {
	display: block;
	margin: 15px 0;
}

.propaganda img {
	width: 100%;
}

/* ---
- #rodape
--- */
#rodape {
	background-color: #b90200;
	padding: 30px 0;
}

#rodape .social {
	text-align: right;
}


/* ---
- .social
--- */
.social {
	line-height: 0;
}

.social .content {
	display: inline-block;
	line-height: 1;
}

.social a {
	display: inline-block;
	font-size: 22px;
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	float: left;
	border-left: 1px solid white;
	color: white;
}

.social a:hover {
	background-color: white;
	color: #b90200;
}

.social a:last-child {
	border-right: 1px solid white;
}


/* ---
- .stiga
--- */
.stiga {
	height: 38px;
	text-align: center;
	line-height: 38px;
}

.stiga a {
	display: inline-block;
	line-height: 1;

	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
}

.stiga a:hover {
	transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-o-transform: rotate(5deg);
}


/* ---
- .creditos
--- */
.creditos {
	color: white;
	line-height: 1;
	padding: 12px 0;
	margin: 0;
}

@media(max-width: 768px) {
	.creditos {
		text-align: center;
	}
}