.destaque {
    position: relative;
    display: block;
    margin-bottom: 20px;
    color: white;
    overflow: hidden;
}

.destaque:hover {
    color: white;
}

.destaque:hover picture img {
    transform: scale(1.05);
}

.destaque picture {
    display: blcok;
}

.destaque picture img {
    width: 100%;

    transition: 1s;
}

.destaque header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    position: absolute;
    bottom: 0;
    padding: 15px;
}

.destaque header h1 {
    margin: 0;
    font-size: 21px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.50);
}

.destaque header time {
    display: block;
    line-height: 1;
    margin-bottom: 5px;
}

.destaque.ultimo header {
    background: linear-gradient(rgba(185, 2, 0, 0), #b90200);
}

@media(max-width: 768px) {
    .destaque header h1 {
        font-size: 17px;
        font-weight: 400;
    }
}



.archive {
    margin-bottom: 30px;
}

.archive:hover a {
    text-decoration: none;
}

.archive:hover header h1 {
    color: #b90200;
}

.archive picture {
    display: block;
    border-bottom: 3px solid;
    margin-bottom: 10px;
}

.archive picture img {
    width: 100%;
}

.archive header h1 {
    color: #333333;
}